:root{
  --bg-image: unset;
  --bg-colour: rgb(14, 14, 14)
}

body {
  background-color: var(--bg-colour);
  color: white;
}

.centered {
  padding: 10px;
  margin: auto;
  text-align: center;
}

.main-content {
  display: flex;
  justify-content: center;
}

.section {
  border-color: rgb(141, 141, 141);
  border-width: 1px;
  border-style: dotted;
  margin: 1em;
  padding: 1em;
  position: relative;
  word-wrap: break-word;
  max-width: min-content;
}

.section-title {
  font-family: Arial, Helvetica, sans-serif;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button-large {
  width: 100%;
  margin: 1px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  background-color: rgba(156, 156, 156, 0.171);
  transition: 0.2s;
  padding: 10px;
  border: none;
}
.button-large:hover {
  background-color: rgba(43, 43, 43, 0.3);
  cursor: pointer
}

.button-small {
  margin: 1px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  background-color: rgba(156, 156, 156, 0.171);
  transition: 0.1s;
  padding: 10px;
  border: none;
}
.button-small:hover {
  background-color: rgba(43, 43, 43, 0.3);
  cursor: pointer
}
