
#settings {
  user-select: none;
  padding: 10px;
}

#tuning-settings {
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.tuning-box {
  background-color: rgb(165, 165, 165);
  padding: 6px;
  text-align: center;
}

/* get rid of arrows on Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* get rid of numbers on Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#settings-buttons {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

#controls-settings {
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.controls-button {
  user-select: none;
  margin: 0.2em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: aliceblue;
  background-color: rgba(156, 156, 156, 0.171);
  transition: 0.2s;
}
.controls-button:hover {
  background-color: rgba(43, 43, 43, 0.3);
  cursor: pointer
}
