
#settings {
  width: 100em;
  user-select: none;
}

#tuning-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* get rid of arrows on Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* get rid of numbers on Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#settings-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

#controls-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
